/* You can add global styles to this file, and also import other style files */

@import "@angular/material/prebuilt-themes/azure-blue.css";
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/font-awesome/css/font-awesome.min.css";
@import "../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css";
@import "../node_modules/bootswatch/dist/united/bootstrap.min.css";
@import "../node_modules/ngx-spinner/animations/pacman.css";
@import "../node_modules/ngx-spinner/animations/square-jelly-box.css";
@import "../node_modules/ngx-toastr/toastr.css" ;
.xng-breadcrumb-root {
  padding: 8px 16px;
  display: inline;
  border-radius: 0;
}

.xng-breadcrumb-separator {
  padding: 0 0;
}
.xng-breadcrumb-trail {
  margin-bottom: 0;
  color: orange;
}

.StripeElement {
  height: 58px;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
