<div class="mt-4" >
    <div class="d-flex justify-content-between align-item-center">
        <h4>Shipping address</h4>
        <button class="btn btn-outline-success mb-3">
            Save as default address
        </button>
    </div>
    <!-- Form -->
     <div>
        <form [formGroup]="form" class="row">
            <div class="col-6">
                <app-text-input-form
                    [label]="'First Name'" 
                    [formControl]="firstNameControl"
                ></app-text-input-form>
            </div>
            <div class="col-6">
                <app-text-input-form
                    [label]="'Last Name'" 
                    [formControl]="lastNameControl"
                ></app-text-input-form>
            </div>
            <div class="col-6">
                <app-text-input-form
                    [label]="'Street'"
                    [formControl]="streetControl"
                >
                </app-text-input-form>
            </div>
            <div class="col-6">
                <app-text-input-form
                    [label]="'City'"
                    [formControl]="cityControl"
                >
                </app-text-input-form>
            </div>
            <div class="col-6">
                <app-text-input-form
                    [label]="'State'"
                    [formControl]="stateControl"
                >
                </app-text-input-form>
            </div>
            <div class="col-6">
                <app-text-input-form
                    [label]="'zipCode'"
                    [formControl]="zipcodeControl"
                >
                </app-text-input-form>
            </div>
        </form>
     </div>
</div>
<div class="float-none d-flex flex-column flex-lg-row mb-2 gap-3 justify-content-between">
    <button class=" btn btn-outline-primary" routerLink="/basket">
        <i class=" fa fa-angle-left">Back to basket</i>
    </button>
    <button class=" btn btn-primary gap-x-2" matButton matStepperNext
    [disabled]="form.status === 'INVALID'"
    >
        Go to Delivery <i class="fa fa-angle-right"></i>
    </button>
</div>
