<carousel>
    <slide>
        <img src="images/hero1.jpg" alt="fist slide" style=" display: block; width: 100%;"/>
    </slide>
    <slide>
        <img src="images/hero2.jpg" alt="fist slide" style=" display: block; width: 100%;"/>
    </slide>
    <slide>
        <img src="images/hero3.jpg" alt="fist slide" style=" display: block; width: 100%;"/>
    </slide>
</carousel>
<section class="featured">
    <div class="d-flex justify-content-center pt-4">
        <h1>Welcome to the Shop!</h1>
    </div>
</section>