<div class="d-flex justify-content-center mt-5">
    <div class="col-3">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmite()">
            <img class="mb-4" src="https://getbootstrap.com/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72"
                height="57">
            <h1 class="h3 mb-3 fw-normal">Register</h1>
            <app-text-input
             [label]="'Display Name'"
             [formControl]="$any(registerForm.controls['displayName'])"
             [placeholder]="'enter your name'"
              >
            </app-text-input>
            <app-text-input
              [label]="'Email'"
              [formControl]="$any(registerForm.controls['email'])"
              [placeholder]="'enter your email'"
              [type]="'email'"
              >
            </app-text-input>
            <app-text-input
             [label]="'Password'"
             [formControl]="$any(registerForm.controls['password'])"
             [placeholder]="'enter your password'"
             [type]="'password'"
              >
            </app-text-input>

            <ul class="text-danger list-unstyled" *ngIf="errors">
              <li *ngFor="let error of errors">
                {{error}}
              </li>
            </ul>

            <button  class="btn btn-primary w-100 my-3 py-2" type="submit">Sign in</button>
        </form>
    </div>
</div>