<div class="d-flex justify-content-center mt-5">
    <div class="col-3">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmite()">
            <img class="mb-4" src="https://getbootstrap.com/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72"
                height="57">
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
            <div class="form-floating mb-3">
                <input type="text" id="Email" formControlName="email" placeholder="Email" class="form-control touched"
                    [ngClass]="{
                        'is-valid':emailControl.touched && emailControl.valid,
                        'is-invalid':emailControl.touched && emailControl.invalid && !emailControl.pending
                    }">
                <label for="Email">Email</label>
                <!-- Error -->
                <div *ngIf="emailControl && emailControl.status === 'PENDING'" class="fa fa-spinner fa-spin loader">
                </div>
                <!-- Validator message -->
                @if (emailControl.errors?.['required']) {
                <div class="invalid-feedback">Please provide Email</div>
                }
                @if (emailControl.errors?.['email']) {
                <div class="invalid-feedback">Invalid email address</div>
                }
                @if (emailControl.errors?.['minlength']) {
                <div class="invalid-feedback">Password must be at least 8 characters long</div>
                }
                <div class="invalid-feedback" *ngIf="emailControl.errors?.['emailExist']">Email address is in use</div>
            </div>
            <app-text-input-form
                [label]="'password'"
                [formControl]="passwordControl"
                [type]="'password'"
            ></app-text-input-form>
            <button [disabled]="loginForm.invalid " class="btn btn-primary w-100 my-3 py-2" type="submit">Sign
                in</button>
        </form>
    </div>
</div>