<div class="container mt-5">
    <div class="d-flex  justify-content-center">
        <table class="table table-hover" style="cursor: pointer;">
            <thead class="thead-light-gray">
                <tr class="py-1 align-item-center">
                    <th class="border-0 bg-light" scope="col">Order</th>
                    <th class="border-0 bg-light" scope="col">Date</th>
                    <th class="border-0 bg-light" scope="col">Total</th>
                    <th class="border-0 bg-light" scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let order of orderHistory" routerLink="/orders/{{order.id}}">
                    <th scope="row" class="py-2">#{{order.id}}</th>
                    <td class="py-2">{{order.orderDate}}</td>
                    <td class="py-2">{{order.total | currency}}</td>
                    <td class="py-2">{{order.status}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
