<div class="card shadow-sm h-100">
    <div class="images position-relative" style="cursor: pointer;">
        <img src="{{product.pictureUrl}}" alt="{{product.name}}" class="img-fluid bg-info">
        <div class="d-flex align-items-center justify-content-center hover-overlay gap-2">
            <button  type="button" class="btn btn-primary align-items-center d-flex justify-content-center" (click)="addItemToBasket()">
                <i class=" fa fa-shopping-cart fa-2x"></i>
            </button>
            <button type="button" class="btn  btn-primary" routerLink="/shop/{{product.id}}">View</button>
        </div>
    </div>
    <div class="card-body d-flex flex-column">
        <a href="/shop/{{product.id}}" >
            <h6 class="text-uppercase">{{product.name}}</h6>
        </a>
        <span class="mb-2">{{product.price | currency}}</span>
    </div>
</div>