<div class="d-flex align-items-center justify-content-between pb-3 mb-2 mt-2 border-bottom flex-wrap shadow-sm fixed-top"
 style="z-index:999;">
    <!-- Left: Logo -->
    <img src="images/logo.png" style="max-height: 70px;" alt="logo" class="img-fluid"/>
  
    <!-- Middle: Nav -->
    <nav class="d-flex gap-3 my-2 text-uppercase " style="font-size: larger;">
      <a class="link-body-emphasis text-decoration-none" href="#">Home</a>
      <a class="link-body-emphasis text-decoration-none" href="#">Shop</a>
      <a class="link-body-emphasis text-decoration-none" href="#">Contracr</a>
    </nav>
  
    <!-- Right: Cart + Buttons -->
    <div class="d-flex align-items-center gap-2">
      <a class="position-relative " style="margin-right: 40px;">
        <i class="fa fa-shopping-cart fa-2x text-dark"></i>
        <div class="cart-no">5</div>
      </a>
      <a class="btn btn-outline-secondary mr-2">Login</a>
      <a class="btn btn-outline-secondary mr-3">Sign up</a>
    </div>
  </div>
  